.header {
  display: flex;
  max-width: 1280px;

  padding-block: 2.95rem 5.5rem;
  padding-inline: 7.5rem;

  a {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .header-title {
    font-family: var(--ff-sora);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--content-primary);
  }
}

@media (width <= 48em) {
  .header {
    justify-content: center;
    padding-inline: 0;
  }
}
