header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  max-width: 1280px;

  padding-block: 2.95rem 5.5rem;
  padding-inline: 7.5rem;

  & h3 {
    font-family: var(--ff-sora);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--content-primary);
  }
}

@media (width <= 22em) {
  header {
    justify-content: center;
    padding-inline: 0;
  }
}
