.hero-section {
  grid-area: hero;
  max-width: 40rem;
  padding-inline: 7.5rem 0;
  & .hero-tagline {
    font-family: var(--ff-roboto-mono);
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 0.75rem;

    color: var(--content-secondary);
  }
  & .hero-heading {
    font-family: var(--ff-sora);
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;

    color: var(--content-primary);
  }
}

@media (width <= 48em) {
  .hero-section {
    margin-bottom: 3.5rem;
    max-width: 25rem;
    padding-inline: 2.25rem;
    & .hero-heading {
      font-size: 2.175rem;
    }
  }
}
