.questions {
  max-width: 40rem;
  padding-inline: 7.5rem 0;
  grid-area: questions;
  margin-top: 2.25rem;

  display: grid;
  gap: 2.25rem;

  .question {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 24.75rem;
  }

  .question-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .question-content h3 {
    font-family: var(--ff-roboto-flex);
    color: var(--content-brand);
    font-weight: 500;
    line-height: 150%;
    font-size: 0.875rem;
  }

  .question-content p {
    font-family: var(--ff-roboto-flex);
    color: var(--content-secondary);
    font-weight: 500;
    line-height: 150%;
    font-size: 0.75rem;
  }
}

@media (width <= 48em) {
  .questions {
    max-width: 25rem;
    padding-inline: 2.25rem;
    padding-bottom: 2.75rem;
  }
}
